*{
    box-sizing: border-box;
}
/* CSS Variables */
:root{
    --border-top-color: #1fb67c;
    --border-bottom-color: #26c892;
    --border-right-color: #20bc7d;
    --border-left-color: #55ddb9;
    
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Diamond Class */
.diamond{
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

/* First Span */
.diamond span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid var(--border-bottom-color);
    border-right: 50px solid var(--border-right-color);
    border-left: 50px solid transparent;
}

/* Second Span */
.diamond span:nth-child(2){
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 50px solid var(--border-top-color);
    border-bottom: 50px solid var(--border-bottom-color);
    border-right: 50px solid var(--border-right-color);
    border-left: 50px solid var(--border-left-color);
}

/* Third Span */
.diamond span:nth-child(3){
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid var(--border-top-color);
    border-bottom: 50px solid var(--border-bottom-color);
    border-right: 50px solid var(--border-right-color);
    border-left: 50px solid var(--border-left-color);
}

/* Fourth Span */
.diamond span:nth-child(4){
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 50px solid var(--border-top-color);
    border-bottom: 50px solid var(--border-bottom-color);
    border-right: 50px solid var(--border-right-color);
    border-left: 50px solid var(--border-left-color);
}